.spacer {
  width: 100%;
  height: 50vh;
  background: #2d4e86;
}

.headline {
  background: #2d4e86;
  border-radius: 6px;
  height: 4em;
  width: 100%;
}

.text {
  margin: 0.8em 0 0 0;
  background: #2d4e86;
  border-radius: 6px;
  height: 1em;
  width: 100%;
}

.gallery {
  position: relative;
  display: flex;
  outline: 1px solid red;
}

.left {
  width: 50%;
}

.detailsWrapper {
  margin: auto;
  width: 80%;
}

.details {
  height: 100vh;
  outline: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  outline: 1px solid yellow;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; 
  position: relative;
  */
}

.photos {
  width: 100%;
  height: 45vw;
  position: relative;
  overflow: hidden;
}

.photoBlock {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  clip-path: inset(0% 0% 100% 0%); /* hidden by default */
}

/* Make the first photo visible from the start */
.photoBlock:first-child {
  clip-path: inset(0% 0% 0% 0%);
  /* z-index: 1; */
}
